Angular/AppNew/.editorconfig
Angular/AppNew/.gitignore
Angular/AppNew/README.md
Angular/AppNew/server.ts
Angular/AppNew/tsconfig.app.json
Angular/AppNew/tsconfig.json
Angular/AppNew/tsconfig.spec.json
Angular/AppNew/.vscode/extensions.json
Angular/AppNew/.vscode/launch.json
Angular/AppNew/.vscode/tasks.json
Angular/AppNew/src/favicon.ico
Angular/AppNew/src/index.html
Angular/AppNew/src/main.server.ts
Angular/AppNew/src/app/app.component.css
Angular/AppNew/src/app/app.component.spec.ts
Angular/AppNew/src/app/app.config.server.ts
Angular/AppNew/src/app/app.config.ts
Angular/AppNew/src/app/app.routes.ts
Angular/AppNew/src/assets/.gitkeep
