* {
    padding: 0;
    margin: 0;
}

:root {
    /*Colors*/
    --background-color: #F5F5F5;
    --text-color: #202A25;
    --accent-light-color: #2CA6A4;
    --accent-dark-color: #D81159;
    --accent-dark-hover: #a01246;
    --transparent-color: rgba(0, 0, 0, 0);

    /*Typography*/
    --primary-font: "Red Hat Display", Open, sans-serif;
    font-size: 62.5%;
    --font-size-xs: 1rem;
    --font-size-sm: 2rem;
    --font-size-md: 2.5rem;
    --font-size-xl: 3.5rem;
    --font-size-xxl: 4.5rem;
    --font-size-3xl: 6rem;
    --font-size-mobile:10vw;



    /*Spacing*/
    --padding-xs: 6px;
    --padding-sm: 12px;
    --padding-md: 16px;
    --padding-lg: 20px;
    --padding-xl: 24px;
    --padding-xxl: 40px;

    --margin-xs: 6px;
    --margin-sm: 12px;
    --margin-md: 16px;
    --margin-lg: 20px;
    --margin-xl: 24px;
    --margin-xxl: 40px;
    --margin-wide: 100px;
}

body {
    font-family: var(--primary-font);
    font-size: calc(var(--font-size-xs)*1.6);
    line-height: var(--font-size-xl)

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--font-size-3xl);
    line-height: var(--font-size-3xl);
    font-family: var(--primary-font);
    font-weight: 800;
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
}

@media(max-width: 767px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: var(--margin-md);
        margin-bottom: var(--margin-md);
        font-size: var(--font-size-mobile);
        line-height: var(--font-size-mobile);
        font-family: var(--primary-font);
        font-weight: 700;
        padding-left: var(--padding-md);
        padding-right: var(--padding-md);
    }

    body {
        font-size: calc(var(--font-size-mobile)/2);
        font-weight: 400;
        line-height: calc(var(--font-size-mobile)/2);;
        font-family: var(--primary-font);
        
    }

    body p{
        padding-left: var(--padding-md);
        padding-right: var(--padding-md);
    }
}

:placeholder-shown {
    font-family: var(--primary-font);
    margin-top: var(--margin-xs);
    font-size: var(--font-xs);
    font-weight: 500;
}

a {
    color: inherit;
    /* Link-urile vor moșteni culoarea textului din elementul părinte */
    text-decoration: none;
    /* Opțional, înlătură sublinierea de la link-uri */
    position: relative;
    display: inline-block;
    padding-bottom: var(--padding-xs);
    overflow: hidden; /* Asigură-te că pseudo-elementul nu depășește linkul */
}

  
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Grosimea sublinierii */
    background-color: var(--accent-dark-color); /* Culoarea sublinierii */
    transform: translateX(100%); /* Începe din dreapta */
    transition: transform 0.5s ease; /* Durata și efectul tranziției */
  }
  
  
  