
.theme-toggle {
    justify-content: center;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}


.card-wrapper {
    max-width: 400px;
    /* Redimensionează formularul */
    margin-top: 50px;
    /* Spațiu de la partea de sus a paginii */
}

.brand img {
    max-width: 250px;
    /* Redimensionează logo-ul */
}


.flag-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
}

.dropdown-menu{
    cursor: pointer;
    background-color: var(--bs-third-color-bcg);
}
#logo {
    max-width: auto;
    height: 100px;
    object-fit: contain;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 8a8d026aae44815d51e279af9df1089b86c950d8
=======
>>>>>>> 3aafbf3fdf78dc5c2250289e9da8dc094e648d85
