
.flag-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
}

.fa-language {
    color: var(--bs-link-color);
    
}

.animatel {
    position: relative;
    display: inline-block;
   
}
.animatel::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var( --bs-link-color);
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
}
.animatel:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile 
Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile 
Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile 
Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile 
Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile  */


@media(max-width:767px){

#logo {
    
    max-width: auto;
    height: 10vh;;
    object-fit: contain;
}

} 

/* 
Desktop // Desktop // Desktop // Desktop // Desktop // Desktop //
Desktop // Desktop // Desktop // Desktop // Desktop // Desktop //
Desktop // Desktop // Desktop // Desktop // Desktop // Desktop //
Desktop // Desktop // Desktop // Desktop // Desktop // Desktop // */


@media(min-width: 768px){
    #logo{
    max-width: auto;
    height: 100px;
    object-fit: contain;
 }


}