.flag-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
}

.icon-hero {
    color: var(--bs-link-color);
    
}

.secondary-color-bcg {
    position: relative;
    background-color: var(--bs-secondary-color);
}

.secondary-color-bcg::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px; /* Adjust height to control the fade effect */
    background: linear-gradient(to top, transparent, var(--bs-secondary-color));
   }


.col-card-inner {
    background: var(--bs-primary);
}

.card {
    max-width: 300px;
}


.shadow-side {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





.fa-star {
    color: var(--bs-warning);

}


.carousel-control-prev i,
.carousel-control-next i {
    font-size: 24px;
    color: var(--bs-secondary)
        /* Schimbă culoarea dacă e necesar */
}

.hover-lift {
    transition: transform 0.3s ease-in-out;
}

.hover-lift:hover {
    transform: translateY(-5px);
    color: var(--bs-link-color);

}

.price-details {
    min-height: 350px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);}


.cta-before-footer{
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
min-height: 500px;
}


/* Potentiale variabile globale */
/* Potentiale variabile globale */
/* Potentiale variabile globale */
/* Potentiale variabile globale */
/* Potentiale variabile globale */
/* Potentiale variabile globale */

.highlight {
  
    background: linear-gradient(to bottom, #D81159, #F5F5F5);
    background-clip: text;
    color: transparent;
   

}





/* Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile 
Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile 
Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile 
Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile 
Mobile Mobile Mobile  Mobile Mobile Mobile  Mobile Mobile Mobile  */


@media(max-width:767px) {

    .col-card-inner {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    #logo {

        max-width: auto;
        height: 10vh;
        ;
        object-fit: contain;
    }

    .hover-lift:hover {
        color: var(--bs-link-color);
    }


}

/* 
Desktop // Desktop // Desktop // Desktop // Desktop // Desktop //
Desktop // Desktop // Desktop // Desktop // Desktop // Desktop //
Desktop // Desktop // Desktop // Desktop // Desktop // Desktop //
Desktop // Desktop // Desktop // Desktop // Desktop // Desktop // */


@media(min-width: 768px) {
    #logo {
        max-width: auto;
        height: 100px;
        object-fit: contain;
    }



    .col-card-inner {

        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }

    .col-card-inner:hover {
        transform: translateY(-15px);
        /* Ridică cardul cu 10px */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    }


}