
.main-color-bcg {
    background-color: var(--bs-primary);
}

.secondary-color-bcg {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: var(--bs-secondary-color);
}
=======
    position: relative;
    background-color: var(--bs-secondary-color);
}
.secondary-color-bcg::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px; /* Adjust height to control the fade effect */
    background: linear-gradient(to top, transparent, var(--bs-secondary-color));
}
>>>>>>> 8a8d026aae44815d51e279af9df1089b86c950d8
=======
    background-color: var(--bs-secondary-color);
}
>>>>>>> 3aafbf3fdf78dc5c2250289e9da8dc094e648d85


.third-color-bcg {
    background-color: var(--bs-tertiary-bg);
}


.animatel {
    position: relative;
    display: inline-block;

}

.animatel::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--bs-link-color);
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
}

.animatel:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3aafbf3fdf78dc5c2250289e9da8dc094e648d85
}


.dropdown-menu {
    width: fit-content;
    min-width: auto;
    /* Overwrites the default Bootstrap minimum width */
  }
  
  .dropdown-menu .dropdown-item {
    display: inline-block;
  }
<<<<<<< HEAD
  
=======
}
>>>>>>> 8a8d026aae44815d51e279af9df1089b86c950d8
=======
  
>>>>>>> 3aafbf3fdf78dc5c2250289e9da8dc094e648d85
