@media(max-width:767px) {
  .header{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-sm);
    background-color: var(--accent-light-color);
    align-items: center;
  }
 
  #logo {
   max-width: auto;
   max-height: 50px;
  }

  header nav.menu ul.site-nav {
    display: none;
    gap: 30px;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background: var(--primary-color);
    top: 70px;
    padding: var(--padding-xl);
    margin: auto;
    text-align: center;
  }
  header nav.menu ul.site-nav {
    display: flex;
    justify-content: center;
  }
.icon-custom {
  font-size: 24px;
  color: white;
}

.menu-open {
  font-size: large;
  color: var(--background-color);
}



}

.header {
  display: flex;
}
