@media(max-width:767px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-md);
    background-color: var(--accent-light-color);
    align-items: center;

  }

  #logo {
    width: 25%;
    height: auto;
    object-fit: contain;
    

  }

  header nav.menu ul.site-nav {
    display: none;
    gap: var(--margin-lg);
    flex-direction: column;
    height: 50vh;
    position: absolute;
    left: 40Vw;
    right: 0;
    background: var(--accent-light-color);
    top: 70px;
    padding: var(--padding-xl);
    margin: auto;
    text-align: center;
    list-style-type: none;
    color: var(--background-color);
    opacity: 0.9;

  }

  header nav.menu ul.site-nav {
    display: flex;
    justify-content: center;
  }


  .menu-open {
    font-size: var(--font-size-mobile);
    color: var(--background-color);
    min-width: var(--margin-xl);
  }

  .menu-close {
    font-size: var(--font-size-xxl);
    color: var(--accent-dark-color);
    width: var(--margin-xxl);
  }


  .cta1-ctn,
  .cta-inside-page,
  .cta-before-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--accent-light-color);
    text-align: center;
    padding: var(--padding-xxl);
    gap: var(--margin-xxl);

  }

  .cta1-ctn,
  .white-text,
  .cta-inside-page,
  .cta-before-footer h1 {
    color: var(--background-color);
  }


  .builtCV {
    width: 33vw;
    height: auto;
    align-self: center;
    background-color: var(--accent-dark-color);
    color: var(--background-color);
    border: none;
    padding: var(--padding-sm) var(--padding-lg);
    font-size: 0.75em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .builtCV:hover {
    background-color: var(--accent-dark-hover);
    transform: scale(1.1);
  }

  .builtCV:active {
    transform: scale(0.95);
    background-color: var(--accent-dark-hover);
  }

  .about-ctn,
  .testimonial-ctn {
    display: flex;
    flex-direction: column;
    padding: var(--padding-xxl);
    align-content: space-around;
    text-align: center;
    margin-bottom: var(--margin-xxl);
    gap: var(--margin-xxl);

  }

  .about-ctn,
  p {
    color: var(--text-color);
  }

  .about-ctn {
    background-color: rgba(243, 239, 239, 0.712);
  }

  .icon-hero {
    font-size: var(--font-size-mobile);
    color: var(--accent-dark-color);
  }

  .what-we-do,
  .why-You-Need-US,
  .how-Will-Help,
  .what-You-Get,
  .first-reviw,
  .second-reviw,
  .third-reviw,
  .forth-reviw {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--margin-xl);
  }




  .what-we-do,
  .why-You-Need-US,
  .how-Will-Help,
  .what-You-Get {
    background-color: white;
    border: 1px solid darkgray;
    box-shadow: 0px 4px 8px darkgray;
    padding: var(--padding-md);
    margin-bottom: var(--margin-lg);
  }

  .first-reviw,
  .second-reviw,
  .third-reviw,
  .forth-reviw,
  .price-arguments {
    border: 1px solid darkgray;
    box-shadow: 0px 4px 8px darkgray;
    padding: var(--padding-md);
    margin-bottom: var(--margin-lg);

  }

  .friends-pic {
    width: 140px;
    height: auto;
    align-self: center;
  }

  .quote {
    position: relative;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 2;
  }

  .quote::before {
    content: open-quote;
    /* Adaugă ghilimele la începutul citatului */
  }

  .quote::after {
    content: close-quote;
    /* Adaugă ghilimele la sfârșitul citatului */
  }

  .FAQ,
  .price-main-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--padding-md);
    margin-bottom: var(--margin-xxl);
    gap: var(--margin-xxl);
  }

  .FAQ p {
    text-align: justify;
  }

  .price-details {
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: justify;
    width: auto;
    background-color: var(--accent-light-color);
    padding: var(--padding-md) var(--padding-md) var(--padding-xxl) var(--padding-md);
    gap: var(--margin-sm);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  .price H3 {
    text-align: center;
    margin-bottom: 50px;
  }

  .price-arguments {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .bi-check-circle {
    color: var(--accent-dark-color);

  }

  .price {
    padding: var(--padding-xxl);
  }


  .checked {
    display: flex;
    padding: var(--padding-xl);
  }

  .checked span b {
    color: var(--accent-dark-color);
  }


  .footer {
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
    
  }

  .secondary-menu{
    display:flex;
    justify-content: center;
    gap: var(--font-size-mobile);
    padding: var(--padding-md);

    
  }
  .social-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-md);
  }

  .social-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  .social-ctn .social-links .bi {
    color: var(--accent-dark-color);
  }
.closure{
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  align-items: center;
  
}
.legal, .signature{
  display: flex;
  margin-bottom: var(--margin-xl);
}  
}

.header {
  display: flex;
}
