body {
  padding-top: 56px;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
 
}




.navbar-nav.ml-auto {
  margin-left: auto;
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 56px;
  left: -250px;
  transition: left 0.3s;
  background-color: #f8f9fa;
  overflow-y: auto;
  }

.sidebar.show {
  left: 0;
  /* Afișează sidebar-ul */
}

.sidebar-toggle {
  position: fixed;
  top: 56px;
  left: 0;
  width: 25px;
  /* Lățimea elementului de toggle */
  height: 50px;
  background-color: #343a40;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content {
  margin-left: 0;
  transition: margin-left 0.3s;
}

.content.shift {
  margin-left: 250px;
  /* Spațiu pentru sidebar */
}

.hamburger-menu {
  height: 100vh;
  width: 50vw;
  /* Lățimea meniului hamburger */
  position: fixed;
  top: 0;
  right: -50vw;
  /* Ascuns inițial în partea dreaptă */
  transition: right 0.3s;
  background-color: #343a40;
  color: white;
  overflow-y: auto;
  z-index: 1040;
  /* Peste conținutul principal */
}

.hamburger-menu.show {
  right: 0;
  /* Afișează meniul */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}





/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */
/* Mobile optimisation */


@media (max-width: 767.98px) {

  #logo {
    width: 25%;
    height: auto;
    object-fit: contain;


  }

  .sidebar {
    width: 50vw;
    /* Ajustează lățimea sidebar-ului pe ecranele mici */
    left: -50vw;
    /* Ascunde sidebar-ul pe ecranele mici */
  }

  .sidebar.show {
    left: 0;
    
    /* Afișează sidebar-ul pe ecranele mici */
  }

  .nav-item {
    display: block;
    margin-top: 10px;
    /* Afișează linkurile în meniul hamburger */
  }

  .navbar-nav {
    display: none;
    /* Ascunde linkurile în navbar */
  }


  /* Footer  */
  /* Footer  */
  /* Footer  */
  /* Footer  */
  /* Footer  */
  /* Footer  */
  /* Footer  */
  /* Footer  */
  /* Footer  */


  .footer {
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);

  }


  .secondary-menu {
    display: flex;
    justify-content: center;
    gap: var(--font-size-mobile);
    padding: var(--padding-md);


  }

  .social-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-md);
  }

  .social-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  .social-ctn .social-links .bi {
    color: var(--accent-dark-color);
  }

  .closure {
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
    align-items: center;

  }

  .legal,
  .signature {
    display: flex;
    margin-bottom: var(--margin-xl);
  }

  .nav.flex-column{
    margin-top: 150px;

  }


}

@media (min-width: 768px) {

  




  #logo {
    width: 150px;
    height: auto;
    object-fit: contain;


  }

  .hamburger-menu {
    display: none;
    /* Ascunde meniul hamburger pe ecranele mari */
  }

  .nav.flex-column{
    margin-top: 150px;

  }

  .nav-item {
    display: block;
    /* Afișează linkurile în navbar pe ecranele mari */
  }

  /* Footer */
  /* Footer */
  /* Footer */
  /* Footer */
  /* Footer */
  /* Footer */
  /* Footer */
  /* Footer */
  /* Footer */
  
  #ctnFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-xl);
    
  }

  .secondary-menu,
  .social-ctn h2,
  .social-links,
  .closure {
    color: var(--background-color);
  }

  .secondary-menu {
    display: flex;
    width: 50%;
    justify-content: center;
    gap: var(--margin-xxl);
    font-size: var(--font-size-sm);

  }

  .social-ctn H2 {
    font-size: var(--font-size-xl);

  }

  .social-ctn {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xxl);
  }

  .social-links {
    display: flex;
    width: auto;
    justify-content: space-between;
    text-align: center;
    font-size: var(--font-size-xl);
  }

  .closure {
    display: flex;
    flex-direction: column;
  }

  .legal {
    display: flex;
    gap: var(--margin-lg);
    margin-bottom: var(--margin-xl);
    text-align: center;
    font-size: var(--font-size-sm);
  }

  #signature {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-xs);
  }

}



/* Alte clase și stiluri personalizate */

/* .transformText {
  transform: scale(1.1);
}

.flag {
  width: var(--font-size-md);
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.3s;
}

.hidden-flag {
  display: none;
}

.active-flag {
  display: inline;
}

a:hover::after {
  transform: translateX(0%);
  /* Mutați sublinierea complet în vizualizare */



/* Optimizare pentru DESKTOP */

/* Alte clase și stiluri pentru versiunea desktop */

/* .header {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-md);
  align-items: center;
  background-color: var(--background-color);
}

#logo {
  width: 15%;
  height: auto;
  object-fit: contain;
}

.user-menu {
  display: inline-block;
  cursor: pointer;
  background-color: var(--background-color);
  padding: var(--padding-sm) var(--padding-sm);
  position: relative;
}

.user-initials {
  display: inline-block;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0px 0px 3px 1px lightgray;
  border-radius: 100%;
  font-weight: 500;
  color: var(--text-color);
}

.dropdown-arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  opacity: 0.8;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 5px;
  top: 60px;
  list-style-type: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.header nav.menu ul.site-nav {
  display: flex;
  gap: var(--margin-xxl);
  padding: var(--padding-xl);
  margin: auto;
  background: var(--accent-light-color);
  color: var(--background-color);
  text-align: center;
  list-style-type: none;
  font-size: var(--font-size-md);
  align-items: center;
}

.header nav.menu .site-nav .login-btn {
  width: 100px;
  margin-top: -10px;
  height: auto;
  background-color: var(--accent-dark-color);
  color: var(--background-color);
  border: none;
  padding: var(--padding-sm) var(--padding-lg);
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.header nav.menu .site-nav .login-btn:hover {
  background-color: var(--accent-dark-hover);
  transform: scale(1.1);
}

.header nav.menu .site-nav .login-btn:active {
  transform: scale(0.95);
  background-color: var(--accent-dark-hover);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-xl);
  background-color: var(--text-color);
}

#blendFooter {
  background-color: var(--text-color);
}

.secondary-menu,
.social-ctn h2,
.social-links,
.closure {
  color: var(--background-color);
}

.secondary-menu {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: var(--margin-xxl);
  font-size: var(--font-size-sm);
}

.social-ctn h2 {
  font-size: var(--font-size-xl);
}

.social-ctn {
  display: flex;
  flex-direction: column;
  gap: var(--margin-xxl);
}

.social-links {
  display: flex;
  width: auto;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xl);
}

.closure {
  display: flex;
  flex-direction: column;
}

.legal {
  display: flex;
  gap: var(--margin-lg);
  margin-bottom: var(--margin-xl);
  text-align: center;
  font-size: var(--font-size-sm);
}

#signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-xs);
}